@page "/"
@using Listas.Services
@using Listas.Models

<div class="container">
    <div class="right-container col-3">
        <table class="table tabla">
            <thead>
                <tr>
                    <th scope="col">Posición</th>
                    <th scope="col">Elemento</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var contador = 1;
                }

                @foreach (var nodo in nodosAux)
                {
                    <tr>
                        <th scope="row">@(contador++)</th>
                        <td>@nodo.Informacion</td>
                    </tr>
                }

            </tbody>
        </table>

        <table class="tabla table">
            <thead>
                <tr>
                    <th scope="col">Posición</th>
                    <th scope="col">Elemento</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">@position</th>
                    <td>@nombreAux</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="center-container col-6">
        <div class="search">
            <input class="searchInput" type="type" name="name" @bind="elementoBuscada" />
            <button class="buttonInputSearch" @onclick="BuscarNodo">Buscar</button>
        </div>

        @if (mensajeError != null)
        {
            <div class="containerMessageError">
                <p>@mensajeError</p>
            </div>
        }
        else if (Mensaje != null)
        {
            <div class="containerMessage">
                <p>@Mensaje</p>
            </div>
        }

        <div class="top-inputs">
            <div class="inputs">
                <div class="containerInput">
                    <label class="valorLabel">Valor:</label>
                    <input class="inputValor" @bind="valor" type="type" name="name" />
                </div>
                <div class="containerInput">
                    <label class="valorLabel">Posición:</label>
                    <input class="inputPosition" @bind="posicion" type="number" name="name" />
                </div>
            </div>

        </div>

    </div>
    <div class="left-container col-3">
        <div class="insertar-container">
            <label class="subtitle-container">Inserción de nodo</label>
            <button class="btn-txt insertar" @onclick="AgregarNodoAlInicio">Insertar al inicio</button>
            <button class="btn-txt insertar" @onclick="AgregarNodoFinal">Insertar al final</button>
            <button class="btn-txt insertar" @onclick="AgregarNodoAntesPosicion">Insertar antes de una posición X</button>
            <button class="btn-txt insertar" @onclick="AgregarNodoEnPosicionX">Insertar en una posición X</button>
            <button class="btn-txt insertar" @onclick="AgregarNodoDespuesPosicion">Insertar despues de una posición X</button>
        </div>
        <div class="eliminar-container">
            <label class="subtitle-container">Eliminación de nodo</label>
            <button class="btn-txt eliminar" @onclick="EliminarNodoInicio">Eliminar al inicio</button>
            <button class="btn-txt eliminar" @onclick="EliminarUltimoNodo">Eliminar al final</button>
            <button class="btn-txt eliminar">Eliminar antes de una posición X</button>
            <button class="btn-txt eliminar" @onclick="EliminarNodoEnPosicion">Eliminar en una posición X</button>
            <button class="btn-txt eliminar" @onclick="EliminarNodoDespuesPosicion">Eliminar despues de una posición X</button>
        </div>
        <div class="extra-container">
            <label class="subtitle-container">Funciones extras</label>
            <button class="btn-txt extra" @onclick="RecorrerRecursivamente">Recorrido recursivo</button>
            <button class="btn-txt extra" @onclick="() => Lista.OrdenarLista()">Ordenamiento</button>
        </div>

    </div>
</div>

@code {

    //valor a ingresar
    private int? posicion { get; set; }
    private string? valor, elementoBuscada, nombreAux, position;
    private string? Mensaje, mensajeError = null;
    private string resultado = string.Empty;

    // Se crea una instancia de la lista enlazada simple
    public ListaEnlazadaSimple Lista { get; set; } = new();

    // Método para agregar un nodo al inicio de la lista enlazada simple
    private void AgregarNodoAlInicio()
    {
        if (!string.IsNullOrWhiteSpace(valor))
        {
            mensajeError = null;
            Mensaje = Lista.AgregarAlInicio(valor);
            valor = string.Empty;
        }
        else
        {
            mensajeError = "Debe ingresar información antes de agregar un nodo.";
        }
    }

    // Método para agregar un nodo al final de la lista enlazada simple
    private void AgregarNodoFinal()
    {
        var nuevoNodo = new Nodo(valor);

        if (!string.IsNullOrWhiteSpace(valor))
        {
            mensajeError = null;
            Mensaje = Lista.AgregarNodoAlFinal(nuevoNodo);
            valor = string.Empty;
        }
        else
        {
            mensajeError = "Debe ingresar información antes de agregar un nodo.";
        }
    }

    // Método para agregar un nodo en una posición específica
    private void AgregarNodoEnPosicionX()
    {
        if (!string.IsNullOrWhiteSpace(valor))
        {
            Mensaje = Lista.AgregarNodoEnPosicion(new Nodo(valor), posicion ?? 0);
            (mensajeError, valor, posicion) = MensajeValidator.MensajeInsertar(Mensaje, mensajeError, posicion, valor);
        }
        else
        {
            mensajeError = "Debe ingresar información antes de agregar un nodo.";
        }
    }

    // Método para agregar un nodo antes de una posicion especifica
    private void AgregarNodoAntesPosicion()
    {
        try
        {
            if (!string.IsNullOrWhiteSpace(valor))
            {
                var nuevoNodo = new Nodo(valor);
                // Se agrega el nuevo nodo antes de la posición especificada en la lista
                Mensaje = Lista.AgregarNodoAntesPosicion(nuevoNodo, posicion ?? 0);
                (mensajeError, valor, posicion) = MensajeValidator.MensajeInsertar(Mensaje, mensajeError, posicion, valor);
            }
            else
            {
                throw new Exception("Debe ingresar información antes de agregar un nodo.");
            }
        }
        catch (Exception ex)
        {
            // Manejar la excepción capturada y mostrar dicho mensaje al usuario, todo esto utilizando la propiedad de Message
            mensajeError = ex.Message;
        }
    }

    // Método para agregar un nodo después de una posición específica
    void AgregarNodoDespuesPosicion()
    {
        try
        {
            // con lo siguiente, se usa un manejo de excepción, por si espacio esta vacío
            if (!string.IsNullOrWhiteSpace(valor))
            {
                var nuevoNodo = new Nodo(valor);

                // Se agrega el nuevo nodo después de la posición especificada en la lista
                Mensaje = Lista.AgregarNodoDespuesPosicion(nuevoNodo, posicion ?? 0);

                (mensajeError, valor, posicion) = MensajeValidator.MensajeInsertar(Mensaje, mensajeError, posicion, valor);
            }
            else
            {
                throw new Exception("Debe ingresar información antes de agregar un nodo.");
            }
        }
        catch (Exception ex)
        {
            // Manejar la excepción capturada y mostrar dicho mensaje al usuario, todo esto utilizando la propiedad de Message
            mensajeError = ex.Message;
        }
    }

    // Método para eliminar un nodo al inicio de la lista
    void EliminarNodoInicio()
    {
        Mensaje = Lista.EliminarAlInicio();
        (mensajeError, posicion) = MensajeValidator.MensajeEliminar(Mensaje, mensajeError, posicion);
    }

    // Método para eliminar un nodo al final de la lista
    void EliminarUltimoNodo()
    {
        Mensaje = Lista.EliminarNodoFinal();
        (mensajeError, posicion) = MensajeValidator.MensajeEliminar(Mensaje, mensajeError, posicion);
    }

    // Método para eliminar un nodo en una posición específica
    void EliminarNodoEnPosicion()
    {
        try
        {
            // Llama al método EliminarNodoEnPosicion de la lista y guarda el mensaje retornado
            Mensaje = Lista.EliminarNodoEnPosicion(posicion ?? 0);
            (mensajeError, posicion) = MensajeValidator.MensajeEliminar(Mensaje, mensajeError, posicion);
        }
        catch (Exception ex)
        {
            // Si se produce una excepción durante la eliminación del nodo, captura el mensaje de la excepción
            mensajeError = ex.Message;
        }
    }

    void EliminarNodoDespuesPosicion()
    {
        try
        {
            Mensaje = Lista.EliminarDespuesDe(posicion ?? 0);
            (mensajeError, posicion) = MensajeValidator.MensajeEliminar(Mensaje, mensajeError, posicion);
        }
        catch (Exception ex)
        {
            mensajeError = ex.Message;

        }
    }

    // Método para buscar un nodo segun su valor en la lista enlazada simple desordenada
    private void BuscarNodo()
    {
        // Se usa un manejo de excepciones para asegurarse de que el usuario no busque nodos vacíos
        try
        {
            // Con lo siguiente, se usa un manejo de excepción, por si espacio está vacío
            if (string.IsNullOrWhiteSpace(elementoBuscada))
            {
                // Si el espacio está vacío, se lanza una excepción
                throw new Exception("Debe ingresar información antes de buscar un nodo.");
            }

            // Si el campo de información no está vacío, se busca el nodo en la lista enlazada simple
            dynamic? nodoBuscado = Lista.BuscarNodoPorValor(elementoBuscada);

            // Si el nodo buscado no es nulo, se muestra la información del nodo en la tabla
            if (nodoBuscado != null)
            {
                nombreAux = nodoBuscado.Informacion.ToString();
                position = nodoBuscado.Posicion.ToString();
            }
            else
            {
                // Si el nodo buscado es nulo, se muestra un mensaje de que no se encontró el nodo
                nombreAux = "No se encontró el nodo";
                position = string.Empty;
            }

            // Se reinicia la propiedad de elemento buscado
            elementoBuscada = string.Empty;
        }
        catch (Exception ex)
        {
            // Manejar la excepción capturada y mostrar dicho mensaje al usuario, todo esto utilizando la propiedad de Message
            mensajeError = ex.Message;
        }
    }

    // Metodo para ordenar la lista
    private void OrdenarLista()
    {
        Mensaje = Lista.OrdenarLista();
        mensajeError = MensajeValidator.MensajeOrdenar(Mensaje, mensajeError);
    }

    // Método para recorrer la lista de forma recursiva
    private List<Nodo> nodosAux = new List<Nodo>();

    private void RecorrerRecursivamente()
    {
        nodosAux.Clear();
        ListaEnlazadaSimple.RecorrerRecursivamente(Lista.PrimerNodo, nodosAux);
    }
}
